@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto:ital@1&display=swap');

body {
  background: url(./img/48277-noutbuk_apple_macbook_svechenie_cveta.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  font-family: 'Krona One', sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.main h1 {
  margin: 0px;
  font-size: 100px;
  color: #7bc2c5;
  text-align: center;
}

.main p {
  margin: 0px;
  text-align: center;
  font-size: 50px;
  color: #7bc2c5;
}
.container {
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
}

.form__hidden {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.9s ease 0s;
  display: flex;
  justify-content: center;
}

.form__body {
  padding: 30px 10px;
  position: relative;
}

.form {
  max-width: 100%;
  width: 380px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#414254), to(#8793a0));
  border-radius: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.form__element {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: all 0.7s ease 0s;
}

.form__element label {
  display: inline-block;
  margin-bottom: 5px;
  margin-bottom: 10px;
  font-size: 20px;
  color: #000;
}

.form__element input {
  display: block;
  outline: none;
  border-radius: 19px;
  padding: 10px 5px;
}

.form__element.success input {
  border: 3px solid #2ecc71;
}

.form__element.error input {
  border: 2px solid #6f0b0b;
}


.form__element p {
  visibility: hidden;
  font-style: italic;
}

.form__element.error p {
  visibility: visible;
  color: #501f1f;
}


.form h2 {
  color: #000011;
  text-align: center;
  font-size: 30px;
}


.button__close {
  position: absolute;
  top: 21px;
  right: 4px;
  font-size: 23px;
  color: #000;
  border-radius: 50%;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7e70a0), to(#181819));
  border: none;
  outline: none;
}

.button__close:active {
  background:(linear, 0% 0%, 0% 100%, from(#414254), to(#8793a0));
  padding-top: 2px;
}

.button__close:hover {
  cursor: pointer;
}

.reg__button {
  text-align: center;
  margin: 0px 25px;
  font-size: 20px;
  outline: none;
  background: rgb(161, 173, 172);
  color: #000;
  margin-top: 15px;
  padding: 15px;
  border-radius: 30px;
}

.sign__button {
  text-align: center;
  margin: 0px 25px;
  font-size: 20px;
  outline: none;
  background: #a1adac;
  color: #000;
  margin-top: 15px;
  padding: 15px;
  border-radius: 30px;
}

.show {
  visibility: visible;
  opacity: 1;
  transition: all 0.8s ease 0s;
}

.form_reset {
  align-self: center;
  font-size: 20px;
  outline: none;
  background: #747277;
  color: #000;
  margin-bottom: 10px;
  max-width: 180px;
  border-radius: 10px;
}

.login__button {
  text-align: center;
  margin: 0px 25px;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
  background: linear-gradient(to right, rgb(33 74 60), rgb(95 80 44));
  color: #000;
  margin-top: 15px;
  padding: 15px;
  border-radius: 30px;
}
