html, body {
    font-family: serif;
}
body {
    margin: 20px;
}
.container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 300px;
    border: 1px solid grey;
    border-radius: 5px;
}
.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.select {
    margin-top: 10px;
    margin-bottom: 10px;
}